/* Large desktops and laptops 
@media (min-width: 1200px) {
    .nav p {
        color:green !important;
        font-size: 200% !important;
        padding-right : 1.5em !important;
    }
    .nav a {
        font-size: 150% !important;
    }
    .statement {
        font-size: 4em !important;
    }

}
*/
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .nav p {
        color:red !important;
        padding-right : 0em !important;

    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .nav p {
        color: palevioletred !important;
        font-size: 125% !important;
        padding-left: 1.5em !important;
        padding-right : 0em !important;
    }
    .nav a {
        font-size: 100% !important;
        padding-right : 1.5em !important;
    }
    .statement {
        font-size: 2em !important;
        margin-top: 25% !important;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .nav p {
        color: orange !important;
        font-size: 110% !important;
        padding-left: 1.5em !important;
        padding-right : 0em !important;
    }
    .nav a {
        font-size: 90% !important;
        padding-right : 0.5em !important;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .nav p {
        color:blue !important;
    }
    .statement {
        font-size: 2.5em !important;
        margin-top: 30% !important;
    }
}

/* Formatting for Nav Bar header*/

.nav {
    position: fixed;
    background-color: rgba(255, 255,255, 0.6);
    padding-bottom: 2.5%;
    right: 0;
    left: 0;
    z-index: 9000;
}
.nav p {
    color: black;
    font-family: Helvetica;
    font-size: 160%;
    font-weight: lighter;
    padding-left : 2.0em;
    padding-right : 5.2em;
    display: inline;
    z-index: 9000;
}
.nav a {
    color: black;
    font-family: Helvetica;
    font-size: 125%;
    font-weight: lighter;
    padding-left : 2.5em;
    padding-right : 2.5em;
    display: inline;
    z-index: 9000;
  }

  .nav li {
    position: relative;
    top: 0.938em;
    bottom: 0.938em;
    display: inline;
    z-index: 9000;
  }

  /* Formatting for Home screen */

.home {
    background-image: url("foggyforest.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    margin: 0;
}

.statement {
    color: black;
    font-family: Helvetica;
    font-size: 3.5em;
    font-weight: lighter;
    text-align: center;
    margin-top: 17%;
    
}
.arrow-down {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    font-size: 5em;
    margin: 0 auto;  
}

  /* Formatting for Profile screen */

.profile {
    background: white;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: .05;
}
.background-gradient {
    position: relative;
    top: 8em;
    width: 90vw;
    height: 52.67vh;
    background-image:
    linear-gradient(
      to right, 
      rgb(61,73,45), 
      rgba(61,73,45, 0.85), 
      rgba(61,73,45, 0.65), 
      rgba(61,73,45, 0.25),
      rgba(61,73,45, 0.15),
      rgba(61,73,45, 0.05),
      rgba(61,73,45, 0)
    );
}

.profile-pic {
    position: relative;
    width: 55.6vh;
    top: 2em;
    left: 8em;
}

.profile-desc {
    color: black;
    font-family: Arial;
    font-size: 140%;
    font-weight: lighter;
    text-align: left;
    position: relative;
    top: 4em;
}

.socials {
    position: relative;
    bottom: -12em;
    left: 10.5em;
}

.btn {
    padding: .375rem 1.5rem;
}

 /* Formatting for Projects screen */

 .projects {
    background: white;
    height: 100vh;
    width: 100vw;
    left: 0;
}

.background-binary {
    padding-right: 0%;
    padding-top: 2%;
    text-align: right;
    z-index: 0;
    background: orange;
}

.proj1 {
    height: 80%;
}
.proj1-logo {
    padding-top: 16%;
    background: white;
    text-align: right;
}

.proj1-text {
    background: white;
    text-align: right;
}

.desc1 {
    position: relative;
    top: -8em;
    color: black;
    font-family: Arial;
    font-size: 120%;
    font-weight: lighter;
    text-align: left;
}

.proj2 {
    padding-top: 2%;
    background: white;
    height: 40%;
}
.proj2-logo {
    background: white;
    text-align: right;
}

.proj2-text {
    color: black;
    font-family: Arial;
    font-size: 120%;
    font-weight: lighter;
    text-align: left;
}

/* Formatting for Involement screen */

.involve {
    background-color: white; /*url("computerplant.jpg");*/
    height: 50%;
    width: 50%;
    padding-top: 16%;
    text-align: center;
}
/*
.roar {
    padding-bottom: 10%;
    background-color: rgba(25, 255,255, 1);
}*/